/* import font from google */
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap");

/* font style from google */
.text {
  font-family: "Cormorant Upright", serif;
  font-size: 20px;
}
.text-bold {
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
}
.title {
  font-family: "Gentium Plus", serif;
}

.text-justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}

/* background de l'ensemble */
body {
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* container des éléments */
.main {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.main2 {
  justify-content: center;
  align-content: flex-start;
}

/* background des éléments */
.bg {
  background-image: url("./assets/images/text-bg.jpg");
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  background-position: center;
  box-shadow: 2px 2px 8px black;
  border: none !important;
}

/* image de l'énigme */
.game-img {
  max-width: 400px;
  min-height: 150px;
  max-height: 400px;
  width: 100%;
}

/* fond blanc pour mieux lire */
.white-bg {
  background-color: rgba(255, 255, 255, 0.658) !important;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.step-text {
  text-transform: capitalize;
}

/* gif d'animation pivoter le téléphone */
.gif-orientation img {
  max-width: 300px;
  width: 100%;
}

/* effet rebondit */
.bounce {
  text-align: center;
  padding: 20px;
  animation: bounce 1s infinite;
  border: solid 0.5px black !important;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }
  75% {
    transform: scale(1, 1.1) translate(0px, -10px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.vh-100 {
  min-height: 100vh;
}

.answer-form {
  min-height: 100vh !important;
}

/* action en media query */
@media (orientation: landscape) {
  .gif-orientation {
    display: block;
  }
  .only-portrait {
    display: none !important;
  }
  body {
    background-color: rgb(212, 212, 212) !important;
    background-image: none;
    color: black !important;
  }
}
@media (orientation: portrait) {
  .gif-orientation {
    display: none;
  }
}

/* image du pirate */
.char-img {
  position: absolute;
  max-height: 1000px;
  width: 450px !important;
  bottom: 0;
  right: 0;
}

/* message du pirate */
.char-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  z-index: 1;
}

/* fond d'écran des boutons */
.step-btn {
  background-image: url("./assets/images/bg-btn.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white !important;
  /* padding: 20px !important; */
  /* text-transform: uppercase; */
  font-family: "Cormorant Upright", serif !important;
  font-weight: 700 !important;
}
